@model SaffronHotelAdminManagement_MVC4.CustomerDetail
@{
    ViewBag.Title = "CustomerDelete";
    Layout = "~/Views/Shared/Outer_LayoutPage.cshtml";
}
<script type="text/javascript">
    jQuery(window).load(function () {
        //jQuery("#status").fadeOut();
        jQuery("#preloader").delay(1800).fadeOut("slow");
    })
</script>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div class="wthree_agile_admin_info">
    <!-- /w3_agileits_top_nav-->
    <!-- /nav-->
    <!-- //w3_agileits_top_nav-->
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->
        <!-- breadcrumbs -->
       
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            @*<h2 class="w3_inner_tittle">Inputs</h2>*@

            <!--/forms-->
            <div class="forms-main_agileits">

                <!--/forms-inner-->
                <div class="forms-inner">

                    <div class="wthree_general">


                        <div class="grid-1 graph-form agile_info_shadow">
                            <h3 class="w3_inner_tittle two">Purchase</h3>
                            @if (ViewBag.errorMsg != null)
                            {
                                <span style="color:#ff3333;font-family:sans-serif;letter-spacing:1px;">@ViewBag.errorMsg</span>
                            }
                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Customer Name</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" name="cstName" class="form-control1 icon" value="@Model.CustomerName" required="" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Mobile Number</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-mobile"></i>
                                            </span>
                                            <input type="number" name="mobile" class="form-control1 icon" value="@Model.MobileNo" required="" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Email</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="email" name="email" class="form-control1 icon" value="@Model.Email" required="" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group1 has-feedback" style="box-shadow:none !important">
                                        <label class="col-md-2 control-label">Address</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span @*class="input-group-addon"*@>
                                                    @*<i class="fa "></i>*@
                                                </span>
                                                <textarea name="address" style="width:320px;" disabled>@Model.Address</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2">
                                    <input type="submit" value="Delete Customer" class="frmButton" onclick="return confirm('Are you sure??')" />
                                    <a href="@Url.Action("CustomerInformation","Admin")" class="btn btn-default">
                                        Back
                                    </a>
                                </div>
                            </form>

                        </div>
                    </div>

                    <!--//set-4-->
                </div>
                <!--//forms-inner-->
            </div>
        </div>
        <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
</div>

